body.en {
  font-family: 'Montserrat', sans-serif;
}

body.bn {
  font-family: 'Noto Sans Bengali', sans-serif;
}

body.hi {
  font-family: 'Noto Sans Devanagari', sans-serif;
}

body.sa {
  font-family: 'Noto Sans Devanagari', sans-serif;
}

body.or {
  font-family: 'Noto Sans Oriya', sans-serif;
}
