body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(../public/static/cursor/cursor.svg), auto;
}

* {
  line-height: 1.125 !important;
}

ul {
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover,
button:hover {
  text-decoration: none;
}

a:hover {
  cursor: url(../public/static/cursor/cursor-link.svg), auto;
}

button:hover {
  cursor: url(../public/static/cursor/cursor-pointer.svg), auto !important;
}

a:active {
  text-decoration: none;
}

html,
body,
#header {
  margin: 0 !important;
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.cursor-copy {
  cursor: url(../public/static/cursor/cursor-copy.svg), auto;
}