html {
  height: stretch;
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: stretch;
  min-height: -webkit-fill-available;
}

body,
#root {
  margin: 0;
  height: 100Vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: url(../public/static/cursor/cursor.svg), auto; */

  /* defining theme colors */
  --color-white: #FFFFFF;
  --color-bhasma: #707070;
  --color-rakthalal: #FF4136;
  --color-matmaila: #C8C8C8;
  --color-slogan: #DDDDDD;
  ;
}

* {
  line-height: 1.125 !important;
}

*::selection {
  background: var(--color-bhasma);
  color: var(--color-white);
}

ul {
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover,
button:hover {
  text-decoration: none;
}

/* a:hover {
  cursor: url(../public/static/cursor/cursor-link.svg), auto;
}
 */
/* button:hover {
  cursor: url(../public/static/cursor/cursor-pointer.svg), auto;
} */

a:active {
  text-decoration: none;
}

html,
body,
#header {
  margin: 0 !important;
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Managing Scroll Bar */
#content-wrapper::-webkit-scrollbar {
  width: 0.75em;
}

#content-wrapper::-webkit-scrollbar:horizontal {
  height: 0.25em;
}

#content-wrapper::-webkit-scrollbar-track {
  background: var(--color-matmaila));
}

#content-wrapper::-webkit-scrollbar-thumb {
  background-color: 'rgba(0, 0, 0, 0)';
  border-right: 0.25em solid var(--color-rakthalal);
}

#content-wrapper {
  scrollbar-color: var(--color-rakthalal) var(--color-matmaila));
  /* thumb and track color */
  scrollbar-width: ;
}

#content-wrapper.more-width::-webkit-scrollbar-thumb {
  border-right: 0.75em solid var(--color-rakthalal);
}

@keyframes pulse {
  0% {
    opacity: 0.125;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.125;
  }
}

@keyframes pinch {
  0% {
    transform: translate(-50%, -50%) scale(5);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}