html,
body{
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin: 0;
  padding: 0;
  /* defining theme colors */
  --color-white: #FFFFFF;
  --color-bhasma: #707070;
  --color-rakthalal: #FF4136;
  --color-matmaila: #C8C8C8;
  --color-slogan: #DDDDDD;

  /* difining scroll width */
  --scroll-width-open: 0.5em;
  --scroll-width-close: 0.25em;
}

#root {
  padding-left: 0.5em !important;
}

.home-page,
.page-404 {
  padding: 0 var(--scroll-width-open) !important;
}

* {
  line-height: 1.125 !important;
}

*::selection {
  background: var(--color-bhasma);
  color: var(--color-white);
}

ul {
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover,
button:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

html,
body,
#header {
  margin: 0 !important;
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Managing Scroll Bar */
body::-webkit-scrollbar {
  width: var(--scroll-width-open);
}

body::-webkit-scrollbar:horizontal {
  height: 0.25em;
}

body::-webkit-scrollbar-track {
  background: var(--color-matmaila));
}

body::-webkit-scrollbar-thumb {
  background-color: 'rgba(0, 0, 0, 0)';
  border-right: 0.15em solid var(--color-rakthalal);
}

body {
  scrollbar-color: var(--color-rakthalal) var(--color-matmaila));
  scrollbar-width: ;
}

body.more-width::-webkit-scrollbar-thumb {
  border-right: 0.75em solid var(--color-rakthalal);
}

/* Grabbing pointer */

.scrollable {
  cursor: all-scroll !important;
}

/* Importing Animations */
@import "./theme/animations.css";