body {
  margin: 0;
  height: 100Vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(../public/static/cursor/cursor.svg), auto;

  /* defining theme colors */
  --color-white: #FFFFFF;
  --color-bhasma: #707070;
  --color-rakthalal: #FF4136;
  --color-matmaila: #C8C8C8;
  --color-slogan: #DDDDDD;
  ;
}

* {
  line-height: 1.125 !important;
}

*::selection {
  background: var(--color-bhasma);
  color: var(--color-white);
}

ul {
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover,
button:hover {
  text-decoration: none;
}

a:hover {
  cursor: url(../public/static/cursor/cursor-link.svg), auto;
}

button:hover {
  cursor: url(../public/static/cursor/cursor-pointer.svg), auto;
}

a:active {
  text-decoration: none;
}

html,
body,
#header {
  margin: 0 !important;
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.cursor-pointer {
  cursor: url(../public/static/cursor/cursor-pointer.svg), auto !important;
}

.cursor-copy {
  cursor: url(../public/static/cursor/cursor-copy.svg), auto !important;
}

/* Managing Scroll Bar */
*::-webkit-scrollbar {
  width: 0.5em;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  /* color of the tracking area */
  background: var(--color-matmaila));
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-rakthalal);
  /* color of the scroll thumb */
  /* roundness of the scroll thumb */
  resize: both;
  /* enables resizing of the scroll thumb by the user */
  border: 0.1px solid var(--color-rakthalal);
  /* creates padding around scroll thumb */
}

// Scrollbar for mozilla
* {
  scrollbar-color: var(--color-rakthalal) var(--color-matmaila));
  /* thumb and track color */
  scrollbar-width: ;
}